* {box-sizing: border-box;}

body {font-family: 'Algerian', sans-serif;}

/* Caption text */
.textCaption {
    color: #000;
    font-size: 35px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
}