* {box-sizing: border-box;}

body {font-family: 'Algerian', sans-serif;}

/* Caption text */
.textCaption {
    color: #000;
    font-size: 35px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 #CEBF94, 1px -1px 0 #CEBF94, -1px 1px 0 #CEBF94, 1px 1px 0 #CEBF94;
}